.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}

.popup__wrapper {
  /*This div make the closing button responsive*/
  margin-top: 180px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__form {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  min-height: 330px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0;
}
.popup__close-button {
  height: 32px;
  width: 32px;
  align-self: flex-end;
  /*I know that the values was 40px, but its looks diffrent from PP*/
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.2s;
}
.popup__close-button:hover {
  opacity: 0.6;
}
.popup__title {
  font-family: "Inter", sans-serif;
  width: 330px;
  max-height: 23px;
  /*If I want my design to look like the figma I was needed to use max-height for my text element, if not the margin will overlap my  save button*/
  margin: 34px 64px 54px 36px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.popup__input {
  position: relative;
  border: none;
  width: 358px;
  margin: 0 0 0 36px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.popup__input:nth-last-child(2) {
  margin-bottom: 0;
}
.popup__line {
  border: none;
  margin-top: 13px;
  opacity: 0.2;
  border-bottom: 1px solid #000000;
  width: 358px;
  margin-bottom: 0;
}

.popup__submit-button {
  position: absolute;
  bottom: 18px;
  align-self: center;
  width: 358px;
  height: 50.15px;
  background: #000000;
  border-radius: 2px;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  transition: 0.3s;
}
.popup__submit-button:hover {
  opacity: 0.8;
}
.popup__submit-button_inactive {
  opacity: 0.2;
}

.popup_show {
  visibility: visible;
  opacity: 1;
}
.popup__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}
.popup__input-error {
  margin: 5px 0 0 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  visibility: hidden;
  opacity: 0;
}
.popup__input-error_active {
  visibility: visible;
  opacity: 1;
}
.popup__input_type_error {
  border-bottom-color: red;
}

@media screen and (max-width: 600px) {
  .popup {
    width: 100%;
  }
  .popup__wrapper {
    width: 282px;
    margin-top: 100px;
  }
  .popup__close-button {
    height: 20px;
    width: 20px;
    margin-right: 9px;
    margin-bottom: 19px;
  }
  .popup__form {
    width: 282px;
    height: 322px;
    position: relative;
  }
  .popup__title {
    margin: 25px 22px 75px 22px;
    font-size: 18px;
    width: 238px;
    max-height: 22px;
  }
  .popup__input {
    width: 238px;
    margin: 0 0 30px 22px;
    max-height: 14px;
    padding-bottom: 9px;
  }
  .popup__line {
    width: 238px;
    margin-top: 13px;
  }

  .popup__input:nth-last-child(2) {
    margin-bottom: 0;
  }
  .popup__submit-button {
    position: absolute;
    width: 238px;
    height: 46px;
    margin: 0;
    font-size: 14px;
    padding: 0;
    bottom: 30px;
  }
  .popup__input-error {
    margin: 5px 0 0 22px;
  }
}
