.profile {
  margin: 40px 0 50px 0;
  width: 100vw;
  max-width: 880px;
  max-height: 120px;
  display: flex;
}
.profile__avatar-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}
.profile__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  height: 100%;
}
.profile__top-info {
  display: flex;
}
.profile__name {
  margin: 22px 18px 0 0;
  max-height: 39px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  /* or 114% */
  color: #ffffff;
}
.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 37px 0 0 0;
  border: 1px solid #ffffff;
  background-color: #0000;
  background-image: url(../images/editButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
.profile__description {
  margin: 16px 0 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 137.5%;
  /* identical to box height */
  color: #ffffff;
}
.profile__add-button {
  margin-top: 35px;
  margin-left: auto;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #000;
  background-image: url(../images/addButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}
.profile__add-button:hover {
  opacity: 0.6;
}
