.single-element {
  width: 282px;
  max-height: 361px;
  border-radius: 10px;
}
.single-element__image {
  width: 100%;
  max-height: 282px;
}
.single-element__caption {
  margin: 25px 0 0 21px;
  max-width: 220px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.single-element__like-button {
  height: 19px;
  width: 21px;
  margin-right: 18px;
  margin-top: 30px;
  padding: 0;
  border: none;
  background-image: url(../images/likeButton.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.2s;
}
.single-element__like-button:hover {
  opacity: 0.5;
}
.single-element__social-brand {
  display: flex;
  background: #ffffff;
  border-radius: 0 0 10px 10px;
  max-height: 79px;
  justify-content: space-between;
  width: 100vw;
  width: 282px;
  height: 79px;
}
@media screen and (min-width: 751px) and (max-width: 900px) {
  .single-element {
    width: 100%;
  }
  .single-element__social-brand {
    width: 100%;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .single-element {
    width: 100%;
  }
  .single-element__social-brand {
    width: 100%;
  }
}
